<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MiniLCDFrame">
		<title>Mini LCD App</title>
		<size>450,400</size>
		<minsize>450,400</minsize>
		<maxsize>450,400</maxsize>
		<id_arg>0</id_arg>
		<object class="wxButton" name="ID_BUTTON_CLEAR_SCREEN" variable="btnClearScreen" member="yes">
			<label>Clear Screen</label>
			<pos>8,8</pos>
			<size>104,30</size>
			<handler function="OnbtnClearScreenClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_NEW_LINE" variable="btnNewLine" member="yes">
			<label>New Line</label>
			<pos>8,48</pos>
			<size>104,30</size>
			<handler function="OnbtnNewLineClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON_WRITE_TEXT" variable="btnWriteText" member="yes">
			<label>Write Text</label>
			<pos>8,88</pos>
			<size>104,30</size>
			<handler function="OnbtnWriteTextClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_GPIO" variable="ckGPIO" member="yes">
			<label>GPIO</label>
			<pos>120,8</pos>
			<size>112,18</size>
			<handler function="OnckGPIOClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_SHOW_CURSOR" variable="ckShowCursor" member="yes">
			<label>Show Cursor</label>
			<pos>120,32</pos>
			<size>112,18</size>
			<handler function="OnckShowCursorClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_BLINK_CURSOR" variable="ckBlinkCursor" member="yes">
			<label>Blink Cursor</label>
			<pos>120,56</pos>
			<size>112,18</size>
			<handler function="OnckBlinkCursorClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_BACKLIGHT" variable="ckBacklight" member="yes">
			<label>Backlight</label>
			<pos>240,8</pos>
			<size>88,18</size>
			<handler function="OnckBacklightClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_AUTO_SCROLL" variable="ckAutoScroll" member="yes">
			<label>Auto Scroll</label>
			<pos>240,32</pos>
			<size>104,18</size>
			<handler function="OnckAutoScrollClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_LINE_WRAP" variable="ckLineWrap" member="yes">
			<label>Line Wrap</label>
			<pos>240,56</pos>
			<size>104,18</size>
			<handler function="OnckLineWrapClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_BACKLIGHT_MINUTES" variable="editBacklightMinutes" member="yes">
			<value>0</value>
			<maxlength>3</maxlength>
			<pos>336,8</pos>
			<size>32,18</size>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>minutes</label>
			<pos>376,8</pos>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL_MESSAGE" variable="editMessage" member="yes">
			<value>Text</value>
			<pos>120,88</pos>
			<size>240,30</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_UPDATE" variable="ckUpdate" member="yes">
			<label>Update</label>
			<pos>368,96</pos>
			<handler function="OnckUpdateClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>Horizontal Bar Graph</label>
			<pos>8,128</pos>
			<size>432,104</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_ENABLE_HORIZONTAL" variable="ckHorizontalEnable" member="yes">
			<label>Enable</label>
			<pos>16,152</pos>
			<handler function="OnckEnableHorizontalClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_HORIZONTAL_REVERSE" variable="ckHorizontalReverse" member="yes">
			<label>Reverse</label>
			<pos>96,152</pos>
			<handler function="OnckHorizontalReverseClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_HORIZONTAL_1" variable="slideHorizontal1" member="yes">
			<pos>16,176</pos>
			<size>416,24</size>
			<handler function="OnslideHorizontal1CmdScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
			<handler function="OnslideHorizontal1CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_HORIZONTAL_2" variable="slideHorizontal2" member="yes">
			<pos>16,200</pos>
			<size>416,24</size>
			<handler function="OnslideHorizontal2CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxStaticBox" name="ID_STATICBOX2" variable="StaticBox2" member="yes">
			<label>Vertical Bar Graph</label>
			<pos>8,240</pos>
			<size>432,104</size>
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX_VERTICAL_ENABLE" variable="ckVerticalEnable" member="yes">
			<label>Enable</label>
			<pos>16,264</pos>
			<handler function="OnckVerticalEnableClick" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON_VERTICAL_THIN" variable="togglebtnVerticalThin" member="yes">
			<label>Thin</label>
			<pos>16,288</pos>
			<handler function="OntogglebtnVerticalThinToggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxToggleButton" name="ID_TOGGLEBUTTON_VERTICAL_THICK" variable="togglebtnVerticalThick" member="yes">
			<label>Thick</label>
			<pos>16,312</pos>
			<handler function="OntogglebtnVerticalThickToggle" entry="EVT_TOGGLEBUTTON" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_1" variable="slideVertical1" member="yes">
			<pos>112,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical1CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_2" variable="slideVertical2" member="yes">
			<pos>144,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical2CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_3" variable="slideVertical3" member="yes">
			<pos>176,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical3CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_4" variable="slideVertical4" member="yes">
			<pos>208,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical4CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_5" variable="slideVertical5" member="yes">
			<pos>240,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical5CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_6" variable="slideVertical6" member="yes">
			<pos>272,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical6CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_7" variable="slideVertical7" member="yes">
			<pos>304,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical7CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxSlider" name="ID_SLIDER_VERTICAL_8" variable="slideVertical8" member="yes">
			<pos>336,264</pos>
			<size>32,72</size>
			<style>wxSL_VERTICAL</style>
			<handler function="OnslideVertical8CmdSliderUpdated" entry="EVT_COMMAND_SLIDER_UPDATED" />
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
